.card-body {
  width: 25rem;
}

#timerToggler {
  padding: 0;
  border-radius: 50%;
}

#cancelButton {
  padding: 0;
  border-radius: 50%;
}

.fa-stop-circle {
  color: red;
}

.logo {
  height: 1.25rem;
}

#timerCounter {
  font-size: 14px;
  line-height: 1;
}

#timerCounterHelp {
  margin-top: 0px;
  color: red;
}

#timerTotal {
  font-size: 14px;
  line-height: 1;
  color: grey;
}

#timerTotalHelp {
  margin-top: 0px;
  color: grey;
}
