.card-body {
  width: 25rem;
}

#timerToggler {
  padding: 0;
  border-radius: 50%;
}

#cancelButton {
  padding: 0;
  border-radius: 50%;
}

.fa-stop-circle {
  color: red;
}

.logo {
  height: 1rem;
}
